*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-lexend);
    color: white;
}

:root {
    --c-dark-grey: rgb(28, 27, 27);
    --c-grey: hsl(210 2 16);
    --c-light-grey: rgb(49, 49, 49);
    --c-blue: hsl(228 34% 48%);
    --c-purple: rgb(109, 107, 221);
    --header-height: 50px;
}

header {
    --header-padding: 10px;
    padding: var(--header-padding);

    height: var(--header-height);
    background: var(--c-dark-grey);
    color: white;

    font-size: calc(var(--header-height) - var(--header-padding) * 3);
    font-weight: 700;

    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

header span {
    margin-left: 10px;
    font-family: var(--font-merriweather);
}

body,
.app-container {
    height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
}

@media (min-width: 700px) {
    .app-container {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}

main {
    flex-grow: 1;
    overflow: auto;
    background-color: var(--c-light-grey);
}

.padded-container {
    padding: 1em;
}