.welcome {
    font-size: 3rem;
    font-weight: 300;
    font-family: var(--font-merriweather);
    margin: 2em unset;
}

.name {
    font-style: normal;
    font-weight: 800;
    font-size: 3.5rem;
    color: hsl(230, 50%, 67%);
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.quick-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.card {
    background-color: var(--c-grey);
    padding: 1em;
    box-shadow: 5px 5px 0px 1px var(--c-purple);
    display: inline-block;
}

.card ul {
    list-style-type: none;
    border: 3px var(--c-blue) dashed;

    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card__title {
    font-weight: 700;
    margin-bottom: 1em;
}

.unread {
    color: rgb(224, 132, 132);
}

.section {
    margin: 2em auto;
}